/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
body {
  font-family: 'Source Sans Pro', "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-color: #929292;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #96cc40;
}
.black-link {
  color: #231f20;
}
.black-link:hover {
  color: #96cc40;
}
li {
  text-decoration: none;
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
.disabled {
  color: #231f20;
  background-color: #fcfcfc;
  border: 1px solid #e9e9e9;
  cursor: not-allowed;
}
input[type="submit"]:disabled,
input[type="buton"]:disabled {
  color: #231f20;
  background-color: #fcfcfc;
  border: 1px solid #e9e9e9;
  cursor: not-allowed;
}
.label {
  font-size: 16px;
  font-weight: 400;
}
.input {
  font-size: 16px;
  padding: 18px 15px;
  background-color: #fcfcfc;
  border: solid 1px #e9e9e9;
  color: #333;
}
.input:focus {
  outline: none;
  border-color: #96cc40;
}
.select {
  font-size: 16px;
  padding: 18px 15px;
  background-color: #fcfcfc;
  border: solid 1px #e9e9e9;
  color: #333;
}
.select:focus {
  outline: none;
  border-color: #96cc40;
}
.textarea {
  font-size: 16px;
  background-color: #fcfcfc;
  border: solid 1px #e9e9e9;
  color: #333;
}
.textarea:focus {
  outline: none;
  border-color: #96cc40;
}
.button {
  font-size: 16px;
  margin-bottom: 15px;
  padding: 18px 15px;
  text-align: center;
  background-color: white;
  color: #96cc40;
  border: 2px solid #96cc40;
  font-weight: 400;
  text-transform: uppercase;
}
.button:hover {
  background-color: #96cc40;
  color: white;
}
.checkbox {
  display: none;
}
.checkbox + label {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 0.5em;
  width: 1.5em;
  height: 1.5em;
  background: white;
  border: 1px solid #ddd;
  margin-right: 10px;
}
.checkbox + label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 8px;
  height: 4px;
  background: transparent;
  top: 1em;
  left: 0.5em;
  border: 2px solid #96cc44;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkbox:checked + label:before {
  border: 1px solid #96cc40;
}
.checkbox:checked + label:after {
  opacity: 1;
}
.title {
  text-align: center;
  font-size: 42px;
  margin: 50px 0 10px;
}
.title span {
  color: #96cc40;
}
.subtitle {
  text-align: center;
  font-size: 18.2px;
  margin: 0;
}
.subtitle span {
  color: #96cc40;
}
/*
* ALERT MESSAGES
*/
.alert {
  width: 1170px;
}
.alert li {
  list-style-type: none;
  border-bottom: solid 5px white;
  color: white;
  padding: 10px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 19px;
}
.alert li:last-child {
  border-bottom: none;
}
.alert.errors {
  background-color: #fc2f00;
}
.alert.messages {
  background-color: #005ffc;
}
.alert.success {
  background-color: #96cc40;
}
/*
* HEADER
*/
header {
  border-top: solid 3px #96cc40;
  background-color: #fff;
  width: 1110px;
  height: 65px;
  margin: 0 auto;
  padding: 0 30px;
  /*
  * search
  */
  /*
  * right header menu
  */
}
header a#logo {
  display: block;
  float: left;
  /* width: 225px; */
  height: 50px;
}
header a#logo h1 {
  color: #231f20;
  line-height: 0.7;
  font-style: italic;
}
header a#logo h1 span {
  font-style: normal;
  color: #96cc40;
}
header #search-bar {
  float: left;
  height: 65px;
  margin: 0 0 0 40px;
  z-index: 1000;
}
header input#search {
  width: 390px;
  height: 65px;
  color: #9e9e9e !important;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0 0 0 30px;
  font-weight: 400;
  font-size: 15px;
  border: none;
  background: #ffffff url(https://pickuphub.net/shared_resources/images/icons/search.png) no-repeat 5px 27px;
}
header .menu-right {
  list-style-type: none;
  float: right;
  height: 65px;
}
header .menu-right li {
  display: inline-block;
  height: 65px;
  padding: 0 14px;
  font-size: 16px;
  position: relative;
}
header .menu-right li div {
  height: 65px;
  display: table-cell;
  vertical-align: middle;
}
header .menu-right li div a {
  color: #231f20;
}
header .menu-right li div a:hover {
  color: #96cc40;
}
header .menu-right li div a i.fa {
  margin-right: 5px;
}
header .menu-right li:hover > .expanded-menu {
  display: inherit;
}
header .navbar-pic a img {
  width: 40px;
  height: 40px;
  border: solid 1px #96cc40;
  border-radius: 20px;
}
header .user-menu div {
  font-weight: 400;
}
header .expanded-menu {
  display: none;
  position: absolute;
  top: 65px;
  right: -30px;
  width: 170px;
  background-color: #fff;
  border-bottom: solid 3px #96cc40;
  list-style: none;
  z-index: 10;
  padding: 0;
  font-weight: 300;
}
header .expanded-menu li {
  min-width: 100px;
  float: none;
  display: list-item;
  position: relative;
  padding: 10px 15px;
  height: auto;
}
header .expanded-menu li a {
  color: #231f20;
}
header .expanded-menu li a:hover {
  color: #96cc40;
}
header .expanded-menu li .fa {
  margin-right: 10px;
}
/*
* FOOTER
*/
footer {
  width: 1170px;
  margin: 0 auto;
  background-color: #231f20;
  padding: 10px 0;
  font-weight: 200;
  text-align: center;
}
ul.flinks {
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul.flinks li {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
/*
* CONTENT
*/
#wrapper {
  min-height: 400px;
}
#content {
  width: 1170px;
  margin: 0 auto;
  background: #f6f6f6;
  min-height: 400px;
  padding: 1px 0;
}
/*
 * GAME LIST
 */
.game-list {
  width: 1044px;
  margin: 30px auto;
}
.more-game {
  display: block;
  width: 200px;
  margin: 30px auto 50px;
}
.game {
  width: 300px;
  margin: 20px 20px;
  border: 2px solid #96cc40;
  display: inline-block;
  text-align: left;
  background: #fff;
  color: #717171;
  font-size: 16px;
}
.game .title-block {
  background: #e9e9e9;
  border-bottom: 1px solid #96cc40;
}
.game .g-sport {
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
  font-size: 28px;
  margin-left: 7px;
  vertical-align: top;
}
.game .g-sport i.fa {
  vertical-align: sub;
}
.game .g-title {
  display: inline-block;
  width: calc(100% -  70px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 25px;
  height: 50px;
  line-height: 47px;
  font-weight: 700;
  vertical-align: middle;
  color: #96cc40;
}
.game .g-cost {
  border-bottom: solid 1px #e9e9e9;
  padding: 5px 20px;
}
.game .g-date {
  border-bottom: solid 1px #e9e9e9;
  padding: 5px 20px;
}
.game .g-location {
  border-bottom: solid 1px #e9e9e9;
  padding: 5px 20px;
}
.game .fa {
  display: inline-block;
  width: 25px;
}
#join-login {
  background: #231f20 url('http://pickuphub.net//shared_resources/images/backgrounds/sports-field.jpg') no-repeat bottom center;
  min-height: 860px;
  position: relative;
}
#join-login h1 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 18px;
}
#join-login .input {
  display: block;
  width: calc(100% - 30px);
  margin: 0 auto;
  font-size: 1.2em;
}
#join-login .input[type='password'] {
  letter-spacing: 2px;
}
#join-login .button {
  display: block;
  width: 100%;
  margin: 0 auto;
}
#join-login .checkbox + label {
  width: 100%;
  display: block;
}
#join-login .login {
  float: right;
  background: #fff;
  margin-right: 50px;
  width: 280px;
  padding: 0 30px;
  border-top: 5px solid #96cc40;
  background: white;
}
#join-login .forgot-pass {
  text-align: center;
  margin: 20px 0;
}
#join-login .forgot-pass a {
  color: #231f20;
  font-size: 17px;
}
#join-login .forgot-pass a:hover {
  color: #96cc40;
}
#join-login .register {
  position: absolute;
  top: 70px;
  left: 100px;
  background: #fff;
  text-align: center;
  width: 300px;
  padding: 0px 50px 20px;
}
#join-login .register input[type='submit'] {
  margin: 20px auto;
}
#forgot-pass,
#reset-pass {
  margin-left: 100px;
}
#forgot-pass label,
#reset-pass label {
  font-size: 21px;
  margin-top: 30px;
  display: block;
}
#forgot-pass .input,
#reset-pass .input {
  width: 300px;
  margin-right: 10px;
  font-size: 17px;
}
#reset-pass .button {
  display: block;
  min-width: 120px;
  margin-left: 100px;
}
/*
 * INDEX ADMIN
 */
#admin-index {
  padding-bottom: 30px;
}
#admin-index h2 {
  margin-left: 30px;
}
#admin-index .add-game-link {
  margin-left: 70px;
}
#admin-index .add-game-link a.button {
  display: inline-block;
}
#admin-index #game-list-container {
  margin: 20px;
}
/*
 * GAME ADD, EDIT FORM
 */
.game-form {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.game-form .label {
  display: block;
  width: 100%;
  margin: 30px 0 10px;
}
.game-form .input {
  display: block;
  width: calc(100% - 30px);
}
.game-form .select {
  width: calc(100%);
}
.game-form .textarea {
  width: calc(100% - 30px);
  padding: 10px 15px;
  height: 200px;
  resize: none;
}
.game-form .button {
  display: block;
  min-width: 300px;
  margin: 50px auto;
}
/*
 * ADD GAME
 */
#add-game,
#edit-game {
  margin: 20px 50px;
  padding-top: 100px;
  position: relative;
}
#add-game .back,
#edit-game .back,
#add-game .delete-game,
#edit-game .delete-game {
  position: absolute;
  top: 40px;
  font-size: 21px;
}
#add-game .back i.fa,
#edit-game .back i.fa,
#add-game .delete-game i.fa,
#edit-game .delete-game i.fa {
  opacity: 0;
}
#add-game .back:hover,
#edit-game .back:hover,
#add-game .delete-game:hover,
#edit-game .delete-game:hover {
  border-bottom: 2px solid #96cc40;
  font-weight: 400;
}
#add-game .back:hover i.fa,
#edit-game .back:hover i.fa,
#add-game .delete-game:hover i.fa,
#edit-game .delete-game:hover i.fa {
  opacity: 1;
}
#add-game .back,
#edit-game .back {
  left: 50px;
}
#add-game .delete-game,
#edit-game .delete-game {
  right: 50px;
}
#home .slider {
  background: url('https://pickuphub.net/shared_resources/images/home-net.jpg');
  width: 1170px;
  height: 547px;
}
#home .slider > * {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
#home .slider h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 75px;
  text-align: center;
  position: absolute;
  top: 260px;
}
#home .slider p {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  top: 350px;
}
#home .slider a.button {
  top: 420px;
  width: 110px;
  background: transparent;
  color: white;
  border-color: white;
}
#home .slider a.button:hover {
  color: black;
  border-color: black;
}
#game-page {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
}
#game-page a.button {
  display: block;
  margin: 50px auto 80px;
  width: 200px;
}
#game-detail {
  font-size: 17px;
}
#game-detail h2 {
  text-align: center;
  font-size: 42px;
  color: #96cc40;
}
#game-detail span {
  color: #96cc40;
  font-weight: 400;
  display: inline-block;
  width: 130px;
}
#game-detail li {
  margin: 10px 0;
}
#game-detail li p {
  margin-top: 5px;
}
#stripe-form {
  margin: 50px auto 80px;
  text-align: center;
}
#stripe-form .stripe-button-el {
  color: white;
}
/*
 * public profile
 */
#public-profile {
  margin: 50px auto;
  width: 600px;
}
#public-profile img.avatar {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
#public-profile #user-detail {
  font-size: 17px;
}
#public-profile #user-detail h2 {
  text-align: center;
  font-size: 42px;
  color: #96cc40;
}
#public-profile #user-detail span {
  color: #96cc40;
  font-weight: 400;
  display: inline-block;
  width: 130px;
}
#public-profile #user-detail li {
  margin: 10px 0;
}
#public-profile #user-detail li p {
  margin-top: 5px;
}
/*
 * edit profile
 */
#edit-profile {
  margin: 50px auto;
  width: 500px;
}
#edit-profile .avatar {
  margin: 30px auto;
}
#edit-profile .label {
  display: block;
  margin: 20px 0 5px;
}
#edit-profile .input {
  width: calc(100% - 30px);
}
#edit-profile .select {
  width: calc(100%);
}
#edit-profile .button {
  display: block;
  margin: 30px auto;
  min-width: 200px;
}
#new-comment {
  width: calc(100% - 20px);
  padding: 10px;
  height: 100px;
  resize: vertical;
}
.comments {
  font-size: 16px;
}
.comments .comment {
  min-height: 85px;
  margin-bottom: 20px;
}
.comments .comment .avatar {
  float: left;
}
.comments .comment .content {
  margin-left: 85px;
}
.comments .comment .content p {
  margin: 0;
  margin-top: 5px;
  padding-left: 10px;
  border-left: 3px solid #96cc40;
}
.comments .comment:after {
  content: '';
  display: table;
  clear: both;
}
.comments .comment .actions {
  font-weight: 400;
}
.comments .comment .actions a {
  display: inline-block;
  margin-top: 5px;
  margin-right: 15px;
  border-bottom: 1px solid transparent;
  color: #757575;
}
.comments .comment .actions a:hover {
  border-bottom-color: #96cc40;
  color: #96cc40;
}
