/*
 * INDEX ADMIN
 */
#admin-index {
  padding-bottom: 30px;
  h2 {
    margin-left: 30px;
  }
  .add-game-link {
    margin-left: 70px;

    a.button {
      display: inline-block;
    }
  }

  #game-list-container {
    margin: 20px;
  }
}

/*
 * GAME ADD, EDIT FORM
 */
.game-form {
  display: block;
  width: 500px;
  margin: 0 auto;

  .label {
    display: block;
    width: 100%;
    margin: 30px 0 10px;
  }

  .input {
    display: block;
    width: calc(~"100% - 30px");
  }

  .select {
    width: calc(~"100%");
  }

  .textarea {
    width: calc(~"100% - 30px");
    padding: 10px 15px;
    height: 200px;
    resize: none;
  }

  .button {
    display: block;
    min-width: 300px;
    margin: 50px auto;
  }
}

/*
 * ADD GAME
 */
#add-game, #edit-game {
  margin: 20px 50px;
  padding-top: 100px;
  position: relative;

  .back, .delete-game {
    position: absolute;
    top: 40px;
    font-size: @font-size * 1.5;

    i.fa {
      opacity: 0;
    }

    &:hover {
      border-bottom: 2px solid @green;
      font-weight: 400;

      i.fa {
        opacity: 1;
      }
    }
  }
  .back {
    left: 50px;
  }
  .delete-game {
    right: 50px;
  }
}