@font-family: 'Source Sans Pro', "Roboto", Helvetica, Arial, sans-serif;
@font-weight: 300;
@font-size: 14px;
@width: 1170px;


@body-background-color: #929292;
@green: #96cc40;
@red: #fc2f00;
@blue: #005ffc;
@black: #231f20;

@lighter-grey: #fcfcfc;
@light-grey: #e9e9e9;

@import "normalize";
@import "base";
@import "login-register-pass";
@import "admin";

@import "home";
@import "comment";