
html, body {
  font-family: @font-family;
  font-weight: @font-weight;
  font-size: @font-size;
  background-color: @body-background-color;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: @green;
  }
}

.black-link {
  color: @black;
  &:hover {
    color: @green;
  }
}

li {
  text-decoration: none;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.disabled {
  color: @black;
  background-color: @lighter-grey;
  border: 1px solid @light-grey;
  cursor: not-allowed;
}

input[type="submit"], input[type="buton"] {
  &:disabled {
    .disabled;
  }
}

.label {
  font-size: @font-size + 2;
  font-weight: 400;
}

.input {
  font-size: @font-size + 2;
  padding: 18px 15px;
  background-color: @lighter-grey;
  border: solid 1px @light-grey;
  color: #333;

  &:focus {
    outline: none;
    border-color: @green;
  }
}

.select {
  font-size: @font-size + 2;
  padding: 18px 15px;
  background-color: @lighter-grey;
  border: solid 1px @light-grey;
  color: #333;
  &:focus {
    outline: none;
    border-color: @green;
  }
}

.textarea {
  font-size: @font-size + 2;
  background-color: @lighter-grey;
  border: solid 1px @light-grey;
  color: #333;

  &:focus {
    outline: none;
    border-color: @green;
  }
}

.button {
  font-size: @font-size + 2;
  margin-bottom: 15px;
  padding: 18px 15px;
  text-align: center;
  background-color: white;
  color: @green;
  border: 2px solid @green;
  font-weight: 400;
  text-transform: uppercase;

  &:hover {
    background-color: @green;
    color: white;
  }
}

.checkbox {
  display: none;

  + label {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;

    &:before {
      content: '';
      cursor: pointer;
      display: inline-block;
      position: relative;
      top: 0.5em;
      width: 1.5em;
      height: 1.5em;
      background: white;
      border: 1px solid #ddd;
      margin-right: 10px;
    }
    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 8px;
      height: 4px;
      background: transparent;
      top: 1em;
      left: 0.5em;
      border: 2px solid #96cc44;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  &:checked + label {
    &:before {
      border: 1px solid @green;
    }
    &:after {
      opacity: 1;
    }
  }
}

.title {
  text-align: center;
  font-size: @font-size * 3;
  margin: 50px 0 10px;
  span {
    color: @green;
  }
}

.subtitle {
  text-align: center;
  font-size: @font-size * 1.3;
  margin: 0;
  span {
    color: @green;
  }
}
/*
* ALERT MESSAGES
*/
.alert {
  width: @width;
  li {
    list-style-type: none;
    border-bottom: solid 5px white;
    color: white;
    padding: 10px;
    padding-left: 50px;
    font-weight: 400;
    font-size: @font-size + 5;

    &:last-child {
      border-bottom: none;
    }
  }
  &.errors {
    background-color: @red;
  }
  &.messages {
    background-color: @blue;
  }
  &.success {
    background-color: @green;
  }
}

/*
* HEADER
*/
header {
  border-top: solid 3px @green;
  background-color: #fff;
  width: @width - 60px;
  height: 65px;
  margin: 0 auto;
  padding: 0 30px;

  a#logo {
    display: block;
    float: left;
    /* width: 225px; */
    height: 50px;

    h1 {
      color: @black;
      line-height: 0.7;
      font-style: italic;
      span {
        font-style: normal;
        color: @green;
      }
    }
  }

  /*
  * search
  */
  #search-bar {
    float: left;
    height: 65px;
    margin: 0 0 0 40px;
    z-index: 1000;
  }
  input#search {
    width: 390px;
    height: 65px;
    color: #9e9e9e !important;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0 0 0 30px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    background: #fff url(https://pickuphub.net/shared_resources/images/icons/search.png) no-repeat 5px 27px;
  }
  /*
  * right header menu
  */
  .menu-right {
    list-style-type: none;
    float: right;
    height: 65px;

    li {
      display: inline-block;
      height: 65px;
      padding: 0 14px;
      font-size: 16px;
      position: relative;

      div {
        height: 65px;
        display: table-cell;
        vertical-align: middle;

        a {
          .black-link;

          i.fa {
            margin-right: 5px;
          }
        }
      }

      &:hover > .expanded-menu {
        display: inherit;
      }
    }
  }

  .navbar-pic a img {
    @size: 40px;
    width: @size;
    height: @size;
    border: solid 1px @green;
    border-radius: @size / 2;
  }

  .user-menu div {
    font-weight: @font-weight + 100;
  }

  .expanded-menu {
    display: none;
    position: absolute;
    top: 65px;
    right: -30px;
    width: 170px;
    background-color: #fff;
    border-bottom: solid 3px @green;
    list-style: none;
    z-index: 10;
    padding: 0;
    font-weight: @font-weight;

    li {
      min-width: 100px;
      float: none;
      display: list-item;
      position: relative;
      padding: 10px 15px;
      height: auto;

      a {
        .black-link;
      }

      .fa {
        margin-right: 10px;
      }
    }
  }
}

/*
* FOOTER
*/
footer {
  width: @width;
  margin: 0 auto;
  background-color: @black;
  padding: 10px 0;
  font-weight: 200;
  text-align: center;
}

ul.flinks {
  display: inline-block;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
  }
}

/*
* CONTENT
*/
#wrapper {
  min-height: 400px;
}

#content {
  width: @width;
  margin: 0 auto;
  background: #f6f6f6;
  min-height: 400px;
  padding: 1px 0;
}

/*
 * GAME LIST
 */
.game-list {
  width: 348px * 3;
  margin: 30px auto;
}

.more-game {
  display: block;
  width: 200px;
  margin: 30px auto 50px;
}

.game {
  width: 300px;
  margin: 20px 20px;
  border: 2px solid @green;
  display: inline-block;
  text-align: left;
  background: #fff;
  color: #717171;

  @title-height: 50px;
  font-size: @font-size + 2px;

  .title-block {
    background: @light-grey;
    border-bottom: 1px solid @green;
  }
  .g-sport {
    height: @title-height;
    width: @title-height;
    display: inline-block;
    text-align: center;
    font-size: 28px;
    margin-left: 7px;
    vertical-align: top;

    i.fa {
      vertical-align: sub;
    }
  }

  .g-title {
    display: inline-block;
    width: calc(~"100% - " (@title-height + 20px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 25px;
    height: @title-height;
    line-height: @title-height - 3px;
    font-weight: 700;
    vertical-align: middle;
    color: @green;
  }

  .g-cost {
    border-bottom: solid 1px @light-grey;
    padding: 5px 20px;
  }

  .g-date {
    border-bottom: solid 1px @light-grey;
    padding: 5px 20px;
  }

  .g-location {
    border-bottom: solid 1px @light-grey;
    padding: 5px 20px;
  }

  .fa {
    display: inline-block;
    width: 25px;
  }
}