#new-comment {
  width: calc(~"100% - 20px");
  padding: 10px;
  height: 100px;
  resize: vertical;
}

.comments {
  font-size: @font-size + 2px;

  .comment {
    min-height: 85px;
    margin-bottom: 20px;
    .avatar {
      float: left;
    }

    .content {
      margin-left: 85px;

      p {
        margin: 0;
        margin-top: 5px;
        padding-left: 10px;
        border-left: 3px solid @green;
      }
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
    .actions {
      font-weight: 400;
      a {
        display: inline-block;
        margin-top: 5px;
        margin-right: 15px;
        border-bottom: 1px solid transparent;
        color: #757575;

        &:hover {
          border-bottom-color: @green;
          color: @green;
        }
      }
    }
  }
}