#home {
  .slider {
    background: url('https://pickuphub.net/shared_resources/images/home-net.jpg');
    width: 1170px;
    height: 547px;
    > * {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      color: #fff;
      font-weight: 700;
      font-size: 75px;
      text-align: center;
      position: absolute;
      top: 260px;
    }

    p {
      text-align: center;
      color: #fff;
      font-weight: 400;
      font-size: 22px;
      top: 350px;
    }

    a.button {
      top: 420px;
      width: 110px;
      background: transparent;
      color: white;
      border-color: white;

      &:hover {
        color: black;
        border-color: black;
      }
    }
  }
}

.game-list-container {

  
  h2 {
  }

  p {

  }
}


#game-page {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;


  a.button {
    display: block;
    margin: 50px auto 80px;
    width: 200px;
  }
}

#game-detail {
  font-size: @font-size + 3px;

  h2 {
    text-align: center;
    font-size: @font-size * 3;
    color: @green;
  }

  span {
    color: @green;
    font-weight: 400;
    display: inline-block;
    width: 130px;
  }

  li {
    margin: 10px 0;

    p {
      margin-top: 5px;
    }
  }
}

#stripe-form {
  margin: 50px auto 80px;
  text-align: center;

  .stripe-button-el {
    color: white;
  }
}


/*
 * public profile
 */

#public-profile {
  margin: 50px auto;
  width: 600px;

  img.avatar {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  #user-detail {
    #game-detail;
  }
}

/*
 * edit profile
 */

#edit-profile {
  margin: 50px auto;
  width: 500px;

  .avatar {
    margin: 30px auto;
  }

  .label {
    display: block;
    margin: 20px 0 5px;
  }

  .input {
    width: calc(~"100% - 30px");

  }

  .select {
    width: calc(~"100%");
  }

  .button {
    display: block;
    margin: 30px auto;
    min-width: 200px;
  }
}