#join-login {
  background: @black url('http://pickuphub.net//shared_resources/images/backgrounds/sports-field.jpg') no-repeat bottom center;
  min-height: 860px;
  position: relative;

  h1 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 18px;
  }

  .input {
    display: block;
    width: calc(~"100% - 30px");
    margin: 0 auto;
    font-size: 1.2em;

    &[type='password'] {
      letter-spacing: 2px;
    }
  }

  .button {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .checkbox + label {
    width: 100%;
    display: block;
  }

  .login {
    float: right;
    background: #fff;
    margin-right: 50px;
    width: 280px;
    padding: 0 30px;
    border-top: 5px solid @green;
    background: white;
  }

  .forgot-pass {
    text-align: center;
    margin: 20px 0;

    a {
      .black-link;
      font-size: @font-size + 3px;
    }
  }

  .register {
    position: absolute;
    top: 70px;
    left: 100px;
    background: #fff;
    text-align: center;
    width: 300px;
    padding: 0px 50px 20px;

    input[type='submit'] {
      margin: 20px auto;
    }
  }

}

#forgot-pass, #reset-pass {
  margin-left: 100px;
  
  label {
    font-size: @font-size * 1.5;
    margin-top: 30px;
    display: block;
  }
  .input {
    width: 300px;
    margin-right: 10px;
    font-size: @font-size + 3px;
  }
}

#reset-pass .button {
  display: block;
  min-width: 120px;
  margin-left: 100px;
}